%p= t('.greeting', :email => @resource.email)
%p= t('.someone_has_requested_a_link')
%p= link_to t('.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t('.ignore_mail')
%p= t('.create_password')
